
#map {
    height: 35vw;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}


div {
    padding: 3px;
}

a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.testing {
    border: none;
    outline: none;
    height: 50px;
    width: 200px;
    background: rgb(80, 80, 80);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: absolute;
    right: 30px;
}

/* Connexion bouton -- > Face arrière */
.testing:hover {
    cursor: pointer;
    background: #3a3a3a;
    color: rgb(255, 255, 255);
}


#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0px;
    row-gap: 0p;
    grid-auto-rows: minmax(0px, auto);

}


#header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: gray;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 10px;

}

#header.h1 {
    grid-column: 1;
    color: whitesmoke;
}

#header.button {
    grid-column: 2;
}

#sidebar {
    background-color: white;
    border: solid gray 1px;
    border-bottom: white;
    border-top: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

.sidebardiv {
    background-color: white;
    margin-top: 5px;
}

.sidebardiv:hover {
    background-color: darkgray;
}

#main {
    background-color: darkgray;
    grid-column-start: 2;
    grid-column-end: 4;
}

.maindiv {
    background-color: white;
    margin-left: 10px;
    margin-bottom: 3px;
    border-style: solid;
    border-width: 2px;

}

.marqueurs {
    position: relative;
    /*left: 5%;*/
    border-style: solid;
    border-width: 1px;

}

.maindiv:hover {
    background-color: whitesmoke;
}
