body {
    margin: 0;
    padding: 0;
    background-color: url(../images/fondcarte.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fondcarte {
    filter: blur(7px);
    position: absolute;
}

.loginbox {
    width: 520px;
    height: 520px;
    background: rgb(80, 78, 78);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border: solid 1px;

}

/* Style des titres H1 */
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
}

.loginbox p {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 60px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: rgb(80, 78, 78);
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

/* Connexion bouton -- > Face avant */
.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 50px;
    width: 200px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: absolute;
    right: 30px;
}

/* Connexion bouton -- > Face arrière */
.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

/* Retour page accueil bouton -- > Face avant */
.loginbox input[type="button"] {
    border: none;
    outline: none;
    height: 50px;
    width: 200px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

/* Retour page accueil bouton -- > Face arrière */
.loginbox input[type="button"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}


.eye {
    position: absolute;
    height: 33px;
    width: 33px;
    right: 50px;
    bottom: 199px;
}

#hide1 {
    display: none;
}

.fa.fa-check-circle {
    color: #fff;
}