a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}


div {
    padding: 3px;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0px;
    row-gap: 0p;
    grid-auto-rows: minmax(0px, auto);

}


#header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: gray;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 10px;

}

#header.h1 {
    grid-column: 1;
    color: whitesmoke;
}

#header.button {
    grid-column: 2;
}

#sidebar {
    background-color: white;
    border: solid gray 1px;
    border-bottom: white;
    border-top: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

.sidebardiv {
    background-color: white;
    margin-top: 5px;
}

.sidebardiv:hover {
    background-color: darkgray;
}

#main {
    background-color: darkgray;
    grid-column-start: 2;
    grid-column-end: 4;
}

.maindiv {
    background-color: white;
    margin-left: 10px;
    margin-bottom: 3px;

}

.marqueurs {
    position: relative;
    left: 5%;

}

.maindiv:hover {
    background-color: whitesmoke;
}
